/*body {
  background-image: url("1ee8dde69c5e55a26397a6cb0bd5650a.png");
  background-color: #778899;
}
*/
h1 {
  color: black;

}

.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  margin-right: 50px;
  padding: 7px 6px 7px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

select {
  margin-top: 50px;
}

@media only screen and (max-width: 500px) {
    .gridmenu {
        width:100%;
    }

    .gridmain {
        width:100%;
    }

    .gridright {
        width:100%;
    }
}
